.variable-explorer-button-cell {
    height: 16px;
    width: 16px;
    background-color: blue;
}

.variable-explorer-button-cell-button {
    height: 16px;
    width: 16px;
    background-color: blue;
}