# Disable ESLint in vscode-python/src except for src/client/pythonEnvironments.
# See https://stackoverflow.com/a/5534865 for why we have to unignore each parent directory.
src/*
!src/client/

src/client/*
!src/client/pythonEnvironments/
