# This file is used to generate requirements.txt.
# To update requirements.txt, run the following commands.
# 1) pip install pip-tools
# 2) pip-compile --generate-hashes requirements.in

# Unittest test adapter
httpx==0.21.3
dataclasses==0.8;python_version<3.7

# Sort Imports
isort==5.10.0
