.outer-container {
    width:auto;
    height:100%;
}

.react-grid-container {
    height:90%; /* Slick grid has a bug where there's no space left for the bottom scroll bar */
    border-color: var(--vscode-editor-inactiveSelectionBackground);
    border-style: solid;
    border-width: 1px;
}

.react-grid-filter-button {
    background: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:8px 4px;
}

.react-grid-filter-button #react-grid-filter-tooltip {
    visibility: hidden;
    border-color: var(--vscode-editor-inactiveSelectionBackground);
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;

    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);

    text-align: center;
    padding: 2px;
    margin: 0px 0px 0px 15px;
   
    position: absolute;
    z-index: 1;
  }

.react-grid-filter-button:hover #react-grid-filter-tooltip {
    visibility: visible;
}

.react-grid-filter-button:focus {
    outline: none;
}
 
.react-grid-header-cell {
    padding: 0px 4px;
    background-color: var(--vscode-debugToolBar-background);
    color: var(--vscode-editor-foreground);
    text-align: left;
    font-weight: bold;
    border-right-color: var(--vscode-editor-inactiveSelectionBackground);
}

.react-grid-cell {
    padding: 0px 4px;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    border-bottom-color: var(--vscode-editor-inactiveSelectionBackground);
    border-right-color: var(--vscode-editor-inactiveSelectionBackground);
    border-right-style: solid;
    box-sizing: border-box;
} 

/* Some overrides necessary to get the colors we want */
.slick-headerrow-column {
    background-color: var(--vscode-debugToolBar-background);
    border-right-color: var(--vscode-editor-inactiveSelectionBackground);
    border-right-style: solid;
}

.slick-header-column.ui-state-default, .slick-group-header-column.ui-state-default {
    border-right-color: var(--vscode-editor-inactiveSelectionBackground);
}

.slick-sort-indicator {
    float: right;
}

.react-grid-header-cell:hover > .slick-sort-indicator {
    background: url(../../../node_modules/slickgrid/images/sort-asc.gif);
}
